@charset "UTF-8";

@font-face {
  font-family: "GaramondPremrPro";
  font-display: swap;
  src: url("../fonts/GaramondPremrPro.woff") format("woff"), url("../fonts/GaramondPremrPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTChocolates-Regular";
  font-display: swap;
  src: url("../fonts/TTChocolates-Regular.woff") format("woff"), url("../fonts/TTChocolates-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "TTChocolates-Regular", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "TTChocolates-Regular", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label span {
  position: relative;
  top: -4px;
}

.checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
  height: 12px;
  background-color: #ba0c2f;
  margin: 0px 14px 0px 0px;
}

.checkbox__label::after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  width: 6.6px;
  height: 6.6px;
  position: absolute;
  top: 2.7px;
  left: 2.75px;
  background-color: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.checkbox__label a {
  color: #7a956b;
}

._line-hv {
  position: relative;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(186, 12, 47, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  background-color: #000;
  max-width: 1199.77px;
}

.popup__close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.body-popup {
  overflow: auto;
  padding-top: 76px;
  padding-bottom: 71px;
  padding-left: 92px;
  padding-right: 56px;
}

.body-popup__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.body-popup__column {
  padding: 0 15px;
}

.body-popup__column--1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 316px;
          flex: 0 0 316px;
}

.body-popup__column--2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 410px;
          flex: 0 1 410px;
}

.body-popup__column--3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 353px;
          flex: 0 1 353px;
}

.body-popup__img {
  width: 100%;
  height: 429px;
  position: relative;
}

.body-popup__img img {
  -o-object-position: top;
     object-position: top;
}

.body-popup-content {
  position: relative;
}

.body-popup-content__wrap {
  width: 100%;
  height: 429px;
  overflow-y: auto;
}

.body-popup-content__inner {
  padding-right: 15px;
  padding-bottom: 30px;
}

.body-popup-content__caption {
  font-size: 15px;
  line-height: 126.6666666667%;
  margin: 0px 0px 14px 0px;
}

.body-popup-content__title {
  font-size: 28px;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.body-popup-content__text {
  line-height: 160%;
  margin: 0px 0px 34px 0px;
}

.body-popup-content__list:not(:last-child) {
  margin: 0px 0px 34px 0px;
}

.list-content-popup__title {
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.list-content-popup__item,
.list-content-popup .lists-content-popup li {
  position: relative;
  padding: 0px 0px 0px 15px;
}

.list-content-popup__item::before,
.list-content-popup .lists-content-popup li::before {
  content: "";
  width: 2.5px;
  height: 2.5px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.list-content-popup__item:not(:last-child),
.list-content-popup .lists-content-popup li:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.form-popup__top {
  margin: 0px 0px 30px 0px;
}

.form-popup__title {
  line-height: 110%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px 0px 9px 0px;
}

.form-popup__subtitle {
  font-size: 15px;
  line-height: 126.6666666667%;
}

.form__line input {
  background: #373737;
  color: #fff;
  line-height: 160%;
  height: 39px;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.form__line input:focus {
  -webkit-box-shadow: 0 0 0 1px #ba0c2f;
          box-shadow: 0 0 0 1px #ba0c2f;
}

.form__line:not(:last-child) {
  margin: 0px 0px 22px 0px;
}

.form__checkbox {
  font-size: 15px;
  line-height: 126.6666666667%;
  margin: 0px 0px 33px 0px;
}

.form__btn {
  color: #fff;
  width: 100%;
  background-color: #ba0c2f;
  min-height: 56px;
  padding: 0 20px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 95px;
}

.header._scroll .header__wrapper {
  background-color: #ba0c2f;
}

.header._scroll .header__body {
  min-height: 95px;
}

.header._scroll .header__logo-link {
  width: 172px;
  height: 50px;
  top: 0;
}

.header__wrapper {
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
  z-index: 50;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: min-height 0.3s ease 0s;
  -o-transition: min-height 0.3s ease 0s;
  transition: min-height 0.3s ease 0s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  min-height: 110px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__menu a {
  color: #fff;
}

.header__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  z-index: 10;
}

.header__logo-link {
  position: relative;
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 213px;
  height: 64px;
  top: 15px;
}

.header__logo-link img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__links {
  min-width: 100px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 27px;
}

.links-header a {
  color: #fff;
}

.links-header__item:not(:last-child) {
  margin-left: 27px;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  color: #fff;
  background-color: #000;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}

.footer a {
  color: #fff;
}

.body-footer__logo {
  width: 360px;
  height: 112px;
  margin-bottom: 53px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.body-footer__logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.body-footer__contacts {
  margin: 0px 0px 33px 0px;
}

.contacts-footer__item:not(:last-child) {
  margin: 0px 0px 19px 0px;
}

.contacts-footer__caption {
  font-size: 16px;
  line-height: 125%;
  color: #ba0c2f;
  margin: 0px 0px 4px 0px;
}

.contacts-footer__text {
  font-size: 22px;
  line-height: 160%;
}

.socials-footer {
  max-width: 320px;
  margin: 0px auto;
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials-footer__link {
  font-size: 22px;
  line-height: 110%;
}

.bottom-footer {
  margin: 0 auto;
}

.bottom-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-footer__copy {
  font-size: 15px;
  line-height: 126.6666666667%;
}

.bottom-footer__age {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-footer__age-inner {
  position: relative;
}

.bottom-footer__age-bg {
  width: 261px;
  height: 261px;
  padding: 0 10px;
}

.bottom-footer__age-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60.67px;
  height: 60.67px;
  background: #ba0c2f;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bottom-footer__age-text span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 22px;
  line-height: 160%;
  cursor: default;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
              not supported by any browser */
}

.bottom-footer__politicals {
  font-size: 15px;
  line-height: 126.6666666667%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ba0c2f;
}

.main-screen__wrapper {
  position: relative;
  z-index: 2;
}

.main-screen__body {
  text-align: center;
  padding-top: 26px;
  position: relative;
  z-index: 2;
}

.main-screen__title {
  font-size: 106px;
  letter-spacing: 0.06em;
  line-height: calc(132 / 106);
  text-transform: uppercase;
}

.main-screen__title span {
  line-height: 1;
  font-family: "GaramondPremrPro";
  display: block;
  white-space: nowrap;
}

.background-main {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
}

.background-main__item {
  width: 175px;
  height: 400px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.background-main__item img {
  -o-object-fit: contain;
     object-fit: contain;
}

.background-main__item--1 {
  top: 25.333%;
}

.background-main__item--2 {
  left: 34.33%;
}

.background-main__item--3 {
  top: 23%;
  right: 17%;
}

.background-main__item--4 {
  right: 0;
  top: 4%;
}

.arrow-main {
  width: 100%;
  position: relative;
  top: 97px;
}

.arrow-main__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.arrow-main__inner {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.arrow-main__link {
  width: 176px;
  height: 176px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0px) scale(1);
      -ms-transform: translate(-50%, 0px) scale(1);
          transform: translate(-50%, 0px) scale(1);
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
  display: block;
  overflow: hidden;
}

.arrow-main__link:active {
  -webkit-transform: translate(-50%, 0px) scale(0.95);
      -ms-transform: translate(-50%, 0px) scale(0.95);
          transform: translate(-50%, 0px) scale(0.95);
}

.arrow-main__text {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.arrow-main__text img {
  -webkit-animation: rot 30s linear infinite;
          animation: rot 30s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
}

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rot {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.arrow-main__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title-main__items {
  width: 100%;
  min-height: 94px;
}

.title-main__items span {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translate(0, 40%);
      -ms-transform: translate(0, 40%);
          transform: translate(0, 40%);
  position: absolute;
  width: 100%;
}

.title-main__items span._active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.red-decor {
  padding-bottom: calc(60px + 25 * ((100vw - 320px) / 1120));
}

.red-decor__container {
  max-width: 1170px !important;
}

.red-decor__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.5px;
}

.red-decor__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 0.5px;
}

.red-decor__item {
  width: 100%;
  height: 100%;
}

.red-decor__img {
  position: relative;
  padding-bottom: 100%;
}

.red-decor__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slider-bars {
  padding-bottom: calc(30px + 90 * ((100vw - 320px) / 1120));
}

.slider-bars__wrapper {
  position: relative;
}

.slider-bars__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-bars__title {
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: right;
  max-width: 270px;
  position: relative;
  z-index: 3;
}

.slider-bars__img {
  margin: 0 30px;
  width: 380px;
  height: 580px;
  position: relative;
  z-index: 4;
}

.slider-bars__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slider-bars__date-caption {
  font-size: 18px;
  line-height: 122.2222222222%;
  margin: 0px 0px 8px 0px;
}

.slider-bars__date-numb {
  font-family: "GaramondPremrPro";
  font-size: 45px;
  min-width: 165px;
}

.controls-slider-bars__pagging {
  font-family: "GaramondPremrPro";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  position: absolute;
  bottom: -63px;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.controls-slider-bars__pagging-seporator {
  width: 30px;
  height: 1.5px;
  background-color: #fff;
  display: block;
  margin: 0 7px;
}

.controls-slider-bars__arrows {
  position: absolute;
  bottom: 268px;
  z-index: 5;
  width: 100%;
}

.slider-arrow {
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.slider-arrow::before {
  content: "";
  position: absolute;
  width: 85px;
  height: 37px;
  background-image: url(../img/icons/arrow-slider.svg);
  background-repeat: no-repeat;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  left: -50%;
  background-size: contain;
}

.slider-arrow.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}

.slider-arrow img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.slider-arrow--prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  left: 152px;
}

.slider-arrow--next {
  right: 60px;
}

.vacancies {
  padding-top: 41px;
  padding-bottom: 119px;
}

.vacancies__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vacancies__column--little {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.vacancies__column--big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67%;
          flex: 0 1 67%;
}

.vacancies__title {
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 230px;
}

.body-vacancies {
  position: relative;
}

.body-vacancies::before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(186, 12, 47, 0)), to(rgba(186, 12, 47, 0.6)));
  background: -o-linear-gradient(top, rgba(186, 12, 47, 0) 0%, rgba(186, 12, 47, 0.6) 100%);
  background: linear-gradient(180deg, rgba(186, 12, 47, 0) 0%, rgba(186, 12, 47, 0.6) 100%);
  width: 100%;
  height: 50px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
}

.body-vacancies__open {
  font-size: 15px;
  line-height: 126.6666666667%;
  margin: 0px 0px 27px 0px;
}

.body-vacancies__wrap {
  overflow-y: auto;
  height: 303px;
  padding-right: 10px;
}

.body-vacancies__item {
  margin-bottom: 42px;
}

.body-vacancies__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-vacancies__title {
  font-size: 28px;
  line-height: 110%;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.body-vacancies__pay {
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-vacancies__pay span {
  font-family: "GaramondPremrPro";
  font-size: 35px;
  line-height: 120%;
  margin: 0px 0px 0px 10px;
}

.body-vacancies__text {
  line-height: 160%;
}

.body-vacancies__text p {
  padding: 20px 0px 0px 0px;
}

@media (min-width: 479.98px) {
  .body-popup-content__wrap::-webkit-scrollbar {
    width: 3px;
  }

  .body-popup-content__wrap::-wrebkit-scrollbar {
    -webkit-appearance: none;
  }

  .body-popup-content__wrap::-webkit-scrollbar-thumb {
    background-color: #ba0c2f;
    border-radius: 5px;
  }

  .body-popup-content__wrap::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #363636;
  }

  .body-popup-content__top {
    margin: 0px 0px 21px 0px;
  }
}

@media (min-width: 700px) {
  .body-popup-content::before {
    content: "";
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 2;
    width: calc(100% + 9px);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 38, 38, 0)), to(rgba(38, 38, 38, 0.8)));
    background: -o-linear-gradient(top, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 0.8) 100%);
    background: linear-gradient(180deg, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 0.8) 100%);
  }
}

@media (min-width: 767.98px) {
  .body-vacancies__wrap::-webkit-scrollbar {
    width: 6px;
    opacity: 0;
  }
}

@media (min-width: 767.98px) and (any-hover: hover) {
  .body-vacancies__wrap:hover::-webkit-scrollbar {
    -webkit-appearance: none;
    opacity: 1;
  }

  .body-vacancies__wrap:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
  }

  .body-vacancies__wrap:hover::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }
}

@media (min-width: 991.98px) {
  .footer__container {
    max-width: 805px !important;
  }

  .main-screen__wrapper {
    padding-top: 156px;
    padding-bottom: 300px;
  }

  .slider-bars__container {
    max-width: 890px;
  }

  .slider-bars__wrapper {
    left: -57px;
  }

  .slider-bars__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
    max-width: none;
    padding-top: 130px;
  }

  .slider-bars__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .slider-bars__date {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }

  .slider-bars__date {
    padding-top: 130px;
  }

  .controls-slider-bars__pagging {
    left: 56%;
  }
}

@media (min-width: 1242px) {
  .red-decor {
    padding-top: 89px;
  }
}

@media (max-width: 1242px) {
  ._container {
    max-width: 970px;
  }

  .main-screen__wrapper {
    padding-bottom: 370px;
  }

  .background-main__item--3 {
    right: 20%;
  }

  .red-decor {
    padding-top: 40px;
  }
}

@media (max-width: 1230px) {
  .body-popup {
    padding-top: calc(44px + 32 * ((100vw - 320px) / 910));
  }

  .body-popup {
    padding-bottom: calc(59px + 12 * ((100vw - 320px) / 910));
  }

  .body-popup {
    padding-left: calc(15px + 77 * ((100vw - 320px) / 910));
  }

  .body-popup {
    padding-right: calc(15px + 41 * ((100vw - 320px) / 910));
  }

  .list-content-popup__title {
    margin-bottom: calc(18px + 4 * ((100vw - 320px) / 910));
  }

  .header._scroll .header__logo-link {
    width: calc(120px + 52 * ((100vw - 320px) / 910));
  }

  .header._scroll .header__logo-link {
    height: calc(36px + 14 * ((100vw - 320px) / 910));
  }

  .header__body {
    min-height: calc(72px + 38 * ((100vw - 320px) / 910));
  }

  .header__logo-link {
    width: calc(139px + 74 * ((100vw - 320px) / 910));
  }

  .header__logo-link {
    height: calc(42px + 22 * ((100vw - 320px) / 910));
  }

  .menu__item:not(:last-child) {
    margin-right: calc(14px + 13 * ((100vw - 320px) / 910));
  }

  .links-header__item:not(:last-child) {
    margin-left: calc(14px + 13 * ((100vw - 320px) / 910));
  }

  .footer {
    padding-top: calc(69px + 11 * ((100vw - 320px) / 910));
  }

  .footer {
    padding-bottom: calc(51px + 9 * ((100vw - 320px) / 910));
  }

  .body-footer__logo {
    width: calc(283px + 77 * ((100vw - 320px) / 910));
  }

  .body-footer__logo {
    height: calc(83px + 29 * ((100vw - 320px) / 910));
  }

  .body-footer__logo {
    margin-bottom: calc(68px + -15 * ((100vw - 320px) / 910));
  }

  .socials-footer {
    margin-bottom: calc(45px + -7 * ((100vw - 320px) / 910));
  }

  .main-screen__title {
    font-size: calc(39px + 67 * ((100vw - 320px) / 910));
  }

  .title-main__items {
    min-height: calc(30px + 64 * ((100vw - 320px) / 910));
  }

  .slider-bars__title {
    font-size: calc(35px + 5 * ((100vw - 320px) / 910));
  }

  .slider-bars__img {
    width: calc(343px + 37 * ((100vw - 320px) / 910));
  }

  .slider-bars__img {
    height: calc(523px + 57 * ((100vw - 320px) / 910));
  }

  .vacancies {
    padding-top: calc(30px + 11 * ((100vw - 320px) / 910));
  }

  .vacancies {
    padding-bottom: calc(84px + 35 * ((100vw - 320px) / 910));
  }

  .vacancies__title {
    font-size: calc(35px + 5 * ((100vw - 320px) / 910));
  }

  .body-vacancies__item {
    margin-bottom: calc(50px + -8 * ((100vw - 320px) / 910));
  }

  .body-vacancies__title {
    font-size: calc(24px + 4 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 24px;
  }

  .checkbox__label {
    width: 100%;
  }

  .popup__body {
    max-width: 720px;
  }

  .body-popup {
    padding-left: 27px;
    padding-right: 27px;
  }

  .body-popup__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 13px 0px 0px 0px;
  }

  .body-popup__column {
    padding: 0;
  }

  .body-popup__column--1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .body-popup__column--2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 52%;
            flex: 0 0 52%;
    padding-left: 13px;
  }

  .body-popup__column--3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .body-popup__column--3 .body-popup__item {
    margin: 77px 0px 0px 0px;
  }

  .body-popup__img {
    width: 287px;
  }

  .header {
    min-height: 70px;
  }

  .header._scroll .header__body {
    min-height: 70px;
  }

  .header__logo-link {
    top: 10px;
  }

  .bottom-footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bottom-footer__copy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0px 0px 20px 0px;
  }

  .bottom-footer__age {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 32px 0px;
  }

  .bottom-footer__politicals {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .main-screen__wrapper {
    padding-top: 132px;
    padding-bottom: 490px;
  }

  .main-screen__body {
    padding-top: 90px;
  }

  .background-main__item--1 {
    top: 25%;
  }

  .background-main__item--2 {
    right: 27.33%;
    right: 250px;
    left: auto;
  }

  .background-main__item--3 {
    display: none;
  }

  .background-main__item--4 {
    top: 20%;
  }

  .arrow-main {
    top: 120px;
  }

  .title-main__items {
    position: relative;
    left: -10px;
  }

  .red-decor {
    padding-top: 70px;
    padding-bottom: 106px;
  }

  .slider-bars__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 34px 0px;
  }

  .slider-bars__title {
    text-align: center;
    margin: 0px auto;
    margin-bottom: 26px;
  }

  .slider-bars__img {
    margin: 0;
  }

  .slider-bars__date {
    text-align: center;
  }

  .controls-slider-bars__pagging {
    bottom: 275px;
  }

  .controls-slider-bars__arrows {
    top: 30%;
    bottom: auto;
  }

  .slider-arrow--prev {
    left: 30px;
  }

  .slider-arrow--next {
    right: 30px;
  }

  .vacancies__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .vacancies__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .vacancies__title {
    max-width: none;
    text-align: center;
    margin-bottom: 52px;
  }
}

@media (max-width: 991.98px) and (max-width: 700px) {
  .body-popup__column--3 .body-popup__item {
    margin: 60px 0px 0px 0px;
  }
}

@media (max-width: 991.98px) and (max-width: 1230px) {
  .background-main__item--2 {
    right: calc(175px + 75 * ((100vw - 320px) / 910));
  }

  .vacancies__title {
    margin-bottom: calc(40px + 12 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .background-main__item--2 {
    right: 197px;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) and (max-width: 1230px) {
  .background-main__item--2 {
    right: calc(175px + 22 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 991.98px) and (max-width: 580px) {
  .background-main__item--2 {
    right: 0;
  }
}

@media (max-width: 991.98px) and (max-width: 374px) {
  .background-main__item--2 {
    width: 165px;
    height: 378px;
  }
}

@media (max-width: 991.98px) and (max-width: 374px) and (max-width: 1230px) {
  .background-main__item--2 {
    width: calc(135px + 30 * ((100vw - 320px) / 910));
  }

  .background-main__item--2 {
    height: calc(306px + 72 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 767.98px) {
  ._container {
    padding: 0 10px;
  }

  .header._scroll .header__wrapper {
    background-color: #ba0c2f;
  }

  .main-screen__wrapper {
    padding-bottom: 530px;
  }

  .background-main__item--4 {
    top: 21%;
  }

  .arrow-main {
    top: 143px;
  }

  .slider-bars__inner {
    margin: 0px 0px 61px 0px;
  }
}

@media (max-width: 700px) {
  .body-popup__column--2 {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .body-popup__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .body-popup__top-mobile {
    position: absolute;
    width: 100%;
    z-index: 5;
  }

  .body-popup__img {
    margin: 0px auto 20px auto;
  }

  .body-popup-content__wrap {
    overflow-y: visible;
    height: auto;
  }

  .body-popup-content__inner {
    padding: 0;
  }
}

@media (max-width: 680px) {
  .slider-arrow::before {
    width: 65px;
    height: 28px;
    left: -32%;
  }
}

@media (max-width: 620px) {
  .slider-arrow--prev {
    left: 10px;
  }

  .slider-arrow--next {
    right: 10px;
  }
}

@media (max-width: 580px) {
  .main-screen__wrapper {
    padding-bottom: 370px;
  }

  .background-main__item--1 {
    top: 12%;
  }

  .background-main__item--4 {
    display: none;
  }
}

@media (max-width: 570px) {
  .slider-arrow {
    display: none;
  }
}

@media (max-width: 540px) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .header__links {
    min-width: auto;
  }

  .menu__item:first-child {
    display: none;
  }

  .links-header__item span {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .popup__close {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }

  .body-popup {
    padding-left: 14px;
    padding-right: 14px;
  }

  .body-popup__column--1 .body-popup__item {
    position: relative;
  }

  .menu__link {
    font-size: 16px;
  }

  .links-header {
    margin-left: auto;
  }

  .footer {
    padding-top: 95px;
  }

  .body-footer__contacts {
    margin: 0px 0px 42px 0px;
  }

  .contacts-footer__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .socials-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .socials-footer__link:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .main-screen__title {
    font-size: 39px;
  }

  .arrow-main {
    top: 163px;
  }

  .arrow-main__link {
    width: 136px;
    height: 136px;
  }

  .arrow-main__text img {
    padding: 12px;
  }

  .arrow-main__arrow {
    width: 28px;
    height: 33px;
  }

  .arrow-main__arrow img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .title-main__items span {
    font-size: 42px;
  }

  .red-decor {
    padding-bottom: 60px;
    padding-top: 10px;
  }

  .red-decor__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0.5px 0;
  }

  .red-decor__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0.5px 0;
  }

  .slider-bars__inner {
    margin: 0px 0px 39px 0px;
  }

  .slider-bars__title {
    max-width: none;
  }

  .controls-slider-bars__pagging {
    bottom: 300px;
  }

  .vacancies {
    padding-bottom: 40px;
  }

  .body-vacancies__wrap {
    height: auto;
    overflow-y: default;
  }

  .body-vacancies__top {
    display: block;
  }

  .body-vacancies__pay {
    padding-top: 14px;
  }

  .body-vacancies__text p {
    padding: 30px 0px 0px 0px;
  }
}

@media (max-width: 390px) {
  .main-screen__wrapper {
    padding-bottom: 440px;
  }
}

@media (max-width: 380px) and (min-height: 790px) {
  .arrow-main {
    top: 180px;
  }
}

@media (max-width: 379px) {
  .background-main__item {
    width: 170px;
  }
}

@media (max-width: 374px) {
  .background-main__item--1 {
    width: 165px;
    height: 378px;
  }
}

@media (max-width: 374px) and (max-width: 1230px) {
  .background-main__item--1 {
    width: calc(135px + 30 * ((100vw - 320px) / 910));
  }

  .background-main__item--1 {
    height: calc(306px + 72 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 360px) {
  .title-main__items span {
    font-size: 32px;
  }
}

@media (max-width: 340px) {
  .body-popup__img {
    width: 100%;
  }
}

@media (max-width: 330px) {
  .main-screen__wrapper {
    padding-bottom: 360px;
  }
}

@media (max-width: 330px) and (max-height: 580px) {
  .arrow-main {
    top: 50px;
  }
}

@media (min-width: 700px) and (max-width: 1242px) {
  .body-popup-content::before {
    width: 100%;
    left: 0;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@media (any-hover: hover) {
  ._line-hv::before {
    content: "";
    width: 100%;
    background-color: #fff;
    height: 1.25px;
    position: absolute;
    bottom: -15%;
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
            transform: scale(0.3);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  ._line-hv:hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .popup__close:hover {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .form__btn:hover {
    background-color: #a11531;
  }

  .header._scroll .header__wrapper:hover {
    background-color: #ba0c2f;
  }

  .arrow-main__link:hover .arrow-main__arrow {
    -webkit-animation: arrowDownAnim 0.7s ease-in;
            animation: arrowDownAnim 0.7s ease-in;
  }

@-webkit-keyframes arrowDownAnim {
    0% {
      top: 50%;
    }

    50% {
      top: 54%;
    }

    70% {
      top: 52%;
    }

    90% {
      top: 51%;
    }

    100% {
      top: 50%;
    }
}

@keyframes arrowDownAnim {
    0% {
      top: 50%;
    }

    50% {
      top: 54%;
    }

    70% {
      top: 52%;
    }

    90% {
      top: 51%;
    }

    100% {
      top: 50%;
    }
}

  .slider-arrow--prev:hover:before {
    -webkit-transform: translate(5px, -50%);
        -ms-transform: translate(5px, -50%);
            transform: translate(5px, -50%);
  }

  .slider-arrow--prev.swiper-button-disabled:hover:before {
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }

  .slider-arrow--next:hover:before {
    -webkit-transform: translate(5px, -50%);
        -ms-transform: translate(5px, -50%);
            transform: translate(5px, -50%);
  }

  .slider-arrow--next.swiper-button-disabled:hover:before {
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }

  .body-vacancies__title:hover {
    opacity: 0.6;
  }
}